h1 {
  font-family: 'Ubuntu', Consolas;
  font-size:   32px;
  text-align:  center;
  color:       DimGray;
}

h2 {
  font-family: 'Ubuntu', Consolas;
  font-size:   18px;
  color:       Gray;
}

span {
  font-family: 'Ubuntu', Consolas;
  font-size:   32px;
  color:       DarkRed;
}

body {
  margin:      0;
  padding:     0;
  background:  #fff;
  color:       #666;
  font-size:   11pt;
  font-family: sans-serif;
}

a {
  color:           DarkRed;
  text-decoration: none;
}

header {
  margin:    100px auto 40px;
  width:     750px;
  font-size: 20pt;
}

header p#info {
  font-family: 'Ubuntu', Consolas;
  font-size:   12px;
  text-align:  center;
  color:       #666;
  width:       750px;
}

#mainMenu {
  float:            left;
  border-radius:    5px;
  background-color: #666;
  position:         fixed;
  margin:           20px 0px 0px 20px;
  padding-right:    35px;
  box-shadow:       3px 3px 10px #444;
  vertical-align:   middle;
}

#menu {
  list-style-type: none;
  vertical-align:  center;
}

#menu li {
  text-align:       center;
  padding:          5px;
  background-color: #666;
  color:            #ccc;
}

#menu li a {
  color: #fff;
}

#new-upload {
  display:           inline;
  position:          absolute;
  margin:            0px 0px 0px 200px;
  padding-left:      10px;
  padding-bottom:    15px;
  padding-right:     32px;
}

#recent {
  display:           inline;
  position:          absolute;
  margin:            75px 0px 0px 200px;
  padding-left:      10px;
}

#file-info {
  display:  inline;
  position: absolute;
  margin:   0px 0px 0px 200px;
}

#about {
  display: inline;
  position: absolute;
  margin: 0px 0px 0px 200px;
}

#recentInfo {
  background-color: #999;
  border: 1px solid #666;
  width: 650px;
  padding: 5px;
  margin-top: 16px;
  border-radius: 3px;
  color: white;
  font-size: 11px;
  box-shadow: 3px 3px 10px #666;
}

#recentInfo p {
  margin: 0;
  padding: 4px;
}

#recentInfo a {
  color: DarkRed;
}

